/* Twemoji */
@font-face {
  font-family: emoji;
  src: url(twemoji.ttf);
}

/* CSS3D framework */
#viewport{width:850px;height:480px;overflow:hidden;border:1px solid;position:relative;perspective:600px}
#viewport *{transform-style:preserve-3d;box-sizing:border-box}
#camera{width:0;height:0;position:absolute;top:50%;left:50%}
.triangle{clip-path:polygon(50% 0,100% 100%,0 100%);border:none}
.triangle-bottom{clip-path:polygon(0 0,100% 0,50% 100%)}
.triangle-left{clip-path:polygon(0 50%,100% 0,100% 100%)}
.triangle-right{clip-path:polygon(0 0,100% 50%,0 100%)}
.triangle-top-left{clip-path:polygon(0 0,100% 0,0 100%)}
.triangle-top-right{clip-path:polygon(0 0,100% 0,100% 100%)}
.triangle-bottom-left{clip-path:polygon(0 0,100% 100%,0 100%)}
.triangle-bottom-right{clip-path:polygon(100% 0,100% 100%,0 100%)}
.circle{border-radius:50%}

/* Game */
@keyframes wood {
  0% {left: 0;}
  100% {left: -20px;}
}

@keyframes tree {
  0% {left: 600px;}
  100% {left: -600px;}
}

@keyframes wobble {
  0% { transform: rotate(-5deg) }
  50% { transform: rotate(5deg) }
  100% { transform: rotate(-5deg) }
}
@keyframes waves {
  100% { background-position: center 100% }
}
@keyframes rumble {
  10% { margin-top: -5px; }
  20% { margin-top: 5px; }
  30% { margin-top: -5px; }
  40% { margin-top: 5px; }
  50% { margin-top: -5px; }
  60% { margin-top: 5px; }
  70% { margin-top: -5px; }
  80% { margin-top: 5px; }
  90% { margin-top: -5px; }
  100% { margin-top: 5px; }
}
#viewport { background: #6b6; font-family: emoji, calibri; }
#all { transform-origin: 0 0;}
#viewport.blue { background: linear-gradient(#abf,#def); }
h1 { margin-left: -70px }
body { font-family: calibri, arial; overflow: hidden; margin: 0; }
#h1,#h2,#h3,#hud,#gg{ position: fixed; color: #fff; text-align: center; width: 853px; text-shadow: 3px 3px 5px #000;}
#h1 { margin-top: -480px; font-size: 60px;  }
#h2 { margin-top: -400px; font-size: 20px; }
#h3 { margin-top: -100px; font-size: 40px; animation: wobble 2s infinite; }
.plane { opacity: 1 }
.train { font-size: 50px; line-height:50px; }
#train * { pointer-events: none }
.boat { font-size: 80px; line-height:80px; }
/*#boat2 { animation: wobble 2s infinite; }*/
.ground { border-radius: 50% }
.tree { font-size: 60px; line-height: 60px }
.shadow { color: rgba(0,0,0,.002); text-shadow: 0px 0px rgba(0,0,0,.35); line-height: 70px; }
.wood { position: fixed; animation: wood .15s infinite linear; }
.tree { position: fixed; animation: tree 9s infinite linear; }
.tree.fixed { animation: none; transition: 1s;}
.tree2 { animation-delay: -1.5s }
.tree3 { animation-delay: -2.5s }
.tree4 { animation-delay: -3.5s }
.tree5 { animation-delay: -5s }
.tree6 { animation-delay: -6.5s }
.tree6 { animation-delay: -7s }
#hud { width: 853px; height: 480px; margin-top: -480px; text-align: left; font-size: 27px; padding: 5px 0 0 15px; opacity: 0; transition: opacity 2s; pointer-events: none; }
#hud * { pointer-events: all; margin-top: 5px; }
.fixed { animation: none }
.hill { background: linear-gradient(#fff0, #6b6 10%, #6b6 90%, #fff0); }
.hill2 { transition: opacity .2s; background: linear-gradient(#fff0, #5a5 10%, #494 90%, #fff0); }
.hill3 { transition: opacity .2s; background: linear-gradient(#5a5 10%, #494 90%); }
/*.river { background: linear-gradient(#fff0, #7788ddfa 10%, #4455fffa 90%, #fff0); backface-visibility: hidden; }*/
.river { background: linear-gradient(#fff0, #78d 10%, #45f 90%, #fff0); backface-visibility: hidden; }
#buttons { margin: 370px 0; }
button { font-size: 25px; background: #c8c8c8; min-width: 50px; min-height: 40px; }
button span { font-family: emoji, calibri; }
.reverse { transform: scaleX(-1); display: inline-block; }
#b_2d { margin-left: 50px }
button.on { background: #fff }
/*#gg { font-size: 250px; letter-spacing: -15px; height: 480px; animation: wobble 2s infinite; top: 160px; position: absolute; opacity: 0; transition: opacity: 1s; }*/
#black { width: 853px; height: 480px; background: #000; position: absolute; top: 0; opacity: 1; transition: opacity .5s; pointer-events: none; }
.campos1 { position: absolute; top: 330px; left: 783px; text-align: center }
.campos2 { position: absolute; top: 330px; left: 683px; text-align: center }
.woods { background: linear-gradient(90deg, #ca0, #ca0 50%, #fff0 50%); background-size: 16.5px; background-position: 25px 0; font-size: 40px; font-family: arial; text-indent: 50px; padding-top: 20px; }
.hill2 { backface-visibility: hidden }
.track * { pointer-events: none }
.river2 { background: linear-gradient(#fff1, #fff0 10%, #fff0 50%, #fff2); background-size: 100% 200px; animation: waves 15s linear infinite; backface-visibility: hidden; }
.sun { background: radial-gradient(#fea, #fff0 50%) }
.rumble { animation: rumble .7s; }
